laravel-api
.DS_Store
terraform/.terraform.lock.hcl
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/darwin_arm64/terraform-provider-aws_v4.67.0_x5
terraform/.terraform/modules/modules.json
terraform/.terraform.tfstate.lock.info
abc/.terraform/modules/modules.json
abc/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/darwin_arm64/terraform-provider-aws_v4.67.0_x5
abc/.terraform.lock.hcl
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.52.0/darwin_arm64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.52.0/darwin_arm64/terraform-provider-aws_v5.52.0_x5
terraform/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.1/darwin_arm64/terraform-provider-local_v2.5.1_x5
